---
layout: layouts/base.html
title: This is my homepage
bannerContent: This is my banner content
pageID: "home"
---

<!-- triptychs data is in external template data file index.json -->

<section class="triptych">
  {% for triptych in triptychs %}
  <div class="triptych__item">
    <h2>{{ triptych.headline }}</h2>
    <p>{{ triptych.content }}</p>
  </div>
  {% endfor %}
</section>

<!-- <section class="triptych">
  {% for triptych in triptychs %}
    {% include "includes/card.html" %}
  {% endfor %}
</section> -->

<section class="triptych">
  {% for triptych in triptychs %}
  {% include "includes/card.html", headline: triptych.headline, content: triptych.content %}  
  {% endfor %}
</section>
